/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6495ed;
  --ifm-color-primary-dark: #3d7ae8;
  --ifm-color-primary-darker: #296fe6;
  --ifm-color-primary-darkest: #1a5ad4;
  --ifm-color-primary-light: #8bb0f2;
  --ifm-color-primary-lighter: #9fbcf4;
  --ifm-color-primary-lightest: #c7d9f8;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #7da7f5;
  --ifm-color-primary-dark: #5c90f2;
  --ifm-color-primary-darker: #4a84f1;
  --ifm-color-primary-darkest: #1a5ad4;
  --ifm-color-primary-light: #9eb9f7;
  --ifm-color-primary-lighter: #b0c5f9;
  --ifm-color-primary-lightest: #d4e3fc;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}