:root {
    --theme-color: #04059b;
    --theme-color-light: #99ebe2;
    --theme-color-dark: #00b3ac;
    --theme-color-secondary: #6a5096;
    --theme-color-secondary-dark: #3f1c77;
    --theme-color-secondary-light: #c4b2e1;

    --text-color-base: #2e2e46;
    --text-color-secondary: #646473;
    --text-color-tertiary: #81818e;
}

::selection {
    background: var(--theme-color-light);
}